<app-header id="header"></app-header>
  <section id="hero"><app-hero></app-hero></section>
  <section id="about"><app-about></app-about></section>
  <section id="skills"><app-skills></app-skills></section>
  <section id="projects"><app-projects></app-projects></section>
  <section id="achievments"><app-achievments></app-achievments></section>
  <section id="contact"><app-contact></app-contact></section>
<app-footer></app-footer>
<!-- Other content -->

<!-- Social Links -->
<div class="social-links">
  <button class="scroll-to-top" (click)="scrollToTop()">
    <i class="bi bi-arrow-up-short"></i>
  </button>
  <a href="https://github.com/PuttaPramod" target="_blank" aria-label="GitHub">
    <i class="bi bi-github text-primary"></i>
  </a>
  <a href="https://www.linkedin.com/in/putta-pramod-072a622b9/" target="_blank" aria-label="LinkedIn">
    <i class="bi bi-linkedin text-primary"></i>
  </a>
</div>


