<section class="experience-section" id="experience">
  <div class="section-header">
    <span class="badge-pill">Experience</span>
    <h2 class="mb-5 text-center display-4 fw-bold text-gradient">Internship Journey</h2>
  </div>

  <div class="timeline">

    <div class="timeline-item">
      <div class="timeline-dot"></div>

      <div class="experience-content">
        <div class="top">
          <div>
            <h3>Full Stack Developer Intern</h3>
            <h4>Infosys Springboard Internship 6.0</h4>
          </div>

          <span class="duration">
            Feb 2026 – Apr 2026
          </span>
        </div>

        <p>
          During my internship, I developed TaskFlow, a modern Kanban Board application using Angular 20. 
          I implemented reusable UI components, drag-and-drop functionality, task management features, responsive 
          layouts, and collaborated with the team using Git & GitHub to deliver a clean and scalable application.
        </p>

        <div class="skills">
          <span>Angular 20</span>
          <span>TypeScript</span>
          <span>HTML5</span>
          <span>CSS3</span>
        </div>
      </div>

    </div>
  </div>
</section>